html{
    color: whitesmoke;
}

head{
    background-color: transparent;
}

body{
    background-color: black;
    z-index: -1;
}

h1, h3, p, ul{
    color: whitesmoke;
}

svg{
    align-content: right;
}
.main-nav li{
    background-color: transparent;
    color: whitesmoke;
    z-index: 100;
    position:relative;
}

.board {
    width: 600px;
    margin: auto;
}

.info {
    width: 400px;
    margin: auto;
    background-color: black;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}

img{
    max-width:1000px;
    max-height:1000px;
    z-index: -1;
}

#sticky-wrapper{
    background-color: black;
    z-index: 100;
    position:relative;
}

#rand{
    align-content: center;
}

#minmax{
    align-content: center;
}

#heatmap-example-1{
    align-content: center;
}