html{

    padding-left: 200px;
}

head{

    padding-left: 400px;

}

body{
    background-color: black;
}

.board {
    width: 500px;
    margin: auto;
}

.info {
    width: 400px;
    margin: auto;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}

img{
    max-width:600px;
    max-height:600px;
}

#heatmap-example-1{
    align-content: center;
}